# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
backend/temp/
backend/bin/ffmpeg.exe
webview_debug.log
debug_server.log
youtube_downloader.spec

# Build artifacts
build/
dist/
*.manifest
*.spec

# Node/JS
node_modules/
npm-debug.log
yarn-error.log
frontend/node_modules/
frontend/dist/
frontend/.env
